@model   NALOrder.ViewModel.OrderDetailViewModel

<tr>
    <td>@Model.No</td>
    <td>
        @Html.DropDownList("OrderDetail[" + Model.Max + "].ProductId", new SelectList(Model.Products, "ID", "ProductName", "---Select---"),
        htmlAttributes: new { @class = "form-control product", @id = "OrderDetail_" + @Model.Max + "__ProductId", @data_value = "true", @data_val_number = "The field ProductId must be a number.", @data_val_required = "The ProductId field is required." })
    </td>
    <td>
        @Html.TextBox("OrderDetail[" + @Model.Max + "].Quality", Model.Quality,
                 htmlAttributes: new { @class = "form-control quantity", @type = "number", @id = "OrderDetail_" + @Model.Max + "__Quality" })
    </td>
    <td>
        @Html.Label("$0", htmlAttributes: new { @id = "OrderDetail_" + @Model.Max + "__Price", @name = "OrderDetail[" + @Model.Max + "].Price", @class = "price" })
    </td>
    <td>
        @Html.Label("$0", htmlAttributes: new { @id = "OrderDetail_" + @Model.Max + "__Total", @name = "OrderDetail[" + @Model.Max + "].Total" })
    </td>
    <td><button class="btn btn-danger btn-sm">Delete</button></td>
</tr>
